title .img {float:left;}
body {
    position: relative;
    font-size:12px;
    
}
/*top nav styling*/
.topnav li {list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: inline; width: auto;
    font-size: 13px;
    
    }
 li a {text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: black;
    margin: 0px;
}

 li a:hover {text-decoration: underline;}
 
 li .left {float: left;}
 li .right {float:right;
}
li .rightsignin {float:right; 
    background-color: blue; 
    color:white; 
    font-weight: bold;
     padding: 10px;
      border: solid;
       border-radius: 2px;
        font-size: 12px;
     }
     
.material-icons {float: right;
background-color:transparent;
}



/*image position and styling, size etc*/
.img {width: auto;
    margin: 0 auto;
    margin-top: auto;
    font-size: 0;
    text-align: center;
    padding-top: 109px;
    
}

/*form action styling for search engine options*/

#form { 
   width:500px;
    line-height: 30px;
    margin-left:auto;
    margin-right:auto;
    

}
.form {text-align:center;
}




.uk {
    margin-top:500px;
    margin-left: 50px;
    background-color:lightgrey;
    text-align:left;
    

}


footer ul li {float:left;
    list-style-type: none;
    

    
    

}

.footerleft {
    float:left;
    right:0;
    bottom:0;
    left:0;
    font-size: 12px;
    line-height:20px;

    


}
.footerright {
    float:right;
    right:0;
    bottom:0;
    left:0;
    font-size:12px;
    line-height:20px;
    
    
    


}

